
<launch>
 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="joy_node_1" >
    <param name="dev" type="string" value="/dev/input/js0" />
  </node>

  <node pkg="rover_source" type="rover_arm_joystick_control" name="rover_arm_joystick_control" output="screen"/>


</launch>
